<!DOCTYPE html>
<html lang="en">
<head id="background">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Credits</title>

</head>
<body id="bod">
    <nav class="navbar">
        <ul class="nav-links">
                <li><a href="/">Summary</a></li>
                <li><a href="/installation">Installation</a></li>
                <li><a href="/tutorial">Tutorial</a></li>
                <li><a href="/result">Result</a></li>
                <li><a href="/conclusion">Conclusion</a></li>
                <li><a href="/credits">Credits</a></li>
        </u1>
    </nav> 
    <!-- <div id="cen"> -->
        <h1 id="credits">Credits</h1>
        <div class="spacing">
            <h2>Sarah Babar</h2>
            <p class="pspace">
                Sarah was responsible for pages 2 and 5. She had to the instructions for installing the frameworks. She also was responsible for setting up the navbar.
            </p>
        </div>
        <br>
        <div class="spacing">
            <h2>Karen Tuk</h2>
            <p class="pspace">
                Karen was responsible for pages 3 and 4. She demonstrated how to create a great looking webpage and on page 4, she showed the result of the tutorial. She was also responsible for figuring out on how to host the website.
            </p>
        </div>
        <br>
        <div class="spacing">
            <h2>Jose Shen</h2>
            <p class="pspace">
                Jose was responsible for pages 1 and 6. Listing all the pros and cons of the frameworks and doing the credits/reference page.
            </p>
        </div>
        <br>
        <div id="listings" class="spacing">
        <h1>References</h1>
        <ul> 
            <li id="refs" v-for="ref in references">
                <!-- <br> -->
                <h2><a :href="ref.link">{{ ref.name }}</a></h2>
            </li>
        </ul>
        </div>
        <script src="../static/credits.js"></script>
    <!-- </div> -->

</body>
</html>



